@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$fb-color: #3b5998;
$fb-l-color: #4c7ccc;
$p-color: #515e6e;
$grey-color: #dadada;
$blue-color: #2aaaa5;
$border: 1px solid;
$orange: #d48734;
$orange-hover: #e18b3b;
$orange-active: #c27931;