@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$fb-color: #3b5998;
$fb-l-color: #4c7ccc;
$p-color: #515e6e;
$grey-color: #dadada;
$blue-color: #2aaaa5;
$border: 1px solid;

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  margin-left: 82px;
  margin-right: 82px;
  margin-top: 33px;
}

.social {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;

  .telephone {
    position: relative;
    right: 40px;

    .fa-phone {
      transform: scaleX(-1);
      color: grey;
    }
  }

  .facebook {
    position: relative;
    right: 10px;

    .fa-facebook-square {
      color: $fb-color;
      transform: scale(1.5);
    }
  }

  a {
    text-decoration: none;
  }

  .phone {
    color: grey;
    position: relative;
    left: 5px;
    border-bottom: $border grey;
  }

  .fb {
    color: $fb-l-color;
    position: relative;
    left: 10px;
    border-bottom: $border $fb-l-color;
  }
}

.header {
  padding-top: 95px;
  padding-left: 95px;
  padding-right: 115px;
  font-weight: 800;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      z-index: 2;
      list-style: none;
      font-size: 18px;
      text-align: center;
      line-height: 3px;
      letter-spacing: 1px;
      a{
        text-decoration: none;
        color: white;

      }
    }
  }
}
.main-img {
  max-height: 175px;
  .img-header {
    width: 100%;
    position: relative;
    top: -540px;
  }

  .masque-header {
    width: 100%;
    z-index: 2;
    position: relative;
    top: -690px;
  }
}
.main-title {
  text-align: center;
  margin-top: 125px;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  display: block;

  h1 {
    font-size: 85px;
    position: relative;
    color: white;
    z-index: 3;
  }
  span {
    font-size: 20px;
    position: relative;
    top: -40px;
    z-index: 4;
    color: white;
  }
}

.desc {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 53%;

  h2 {
    position: relative;
    z-index: 5;
    font-size: 40px;
    text-align: center;
    line-height: 45px;

    b {
      color: #d48734;
    }
  }

  .label-svg {
    width: 125px;
    height: 125px;
    transform: rotate(-15deg);
    position: absolute;
    top: -70px;
    left: -50px;
    z-index: 4;
  }
  p {
    font-weight: 600;
    text-align: center;
    color: $p-color;
  }
}

.sales {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 53%;
  text-align: center;
  border: 5px solid #e0e0e0;

  .first-sale {
    line-height: 5px;
  }
  .second-sale {
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 5px;
  }
  h3 {
    font-size: 25px;
    color: $blue-color;
  }
  hr {
    position: relative;
    top: 24px;
    width: 25%;
    border: $border #e0e0e0;
  }
  span {
    font-size: 14px;
  }
}

.activities-title {
  margin-right: auto;
  margin-left: auto;
  margin-top: -65px;
  text-align: center;
  width: 70%;
  h1 {
    position: relative;
    font-size: 175px;
    z-index: 0;
    color: $grey-color;
  }
}

.activities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  top: 50%;
  transform: translateY(-34%);
  .squares {
    width: 350px;
    height: 350px;
    text-align: center;
    position: relative;
    color: white;
    background: rgb(42, 170, 165) url("../images/canoe.jpg");

    .text {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s, visibility .2s;
    }
  }

  .squares:hover .text{
    visibility: visible;
    opacity: 1;
  }
  .last-1, .last-2 {
    display: inline-flex;
    width: 500px;
    height: 175px;
    img {
      width: 500px;
      height: 175px;
      margin-top: 40px;
    }
  }
  }




.map {
  margin-top: -915px;
  img{
    z-index: 2;
  }
  iframe {
    z-index: 1;
    margin-left: -8px;
    margin-top: -100px;
    width: 101.1%;
    height: 700px;
  }
}


