@import "variables";

* {
  font-family: "Source Sans Pro", sans-serif;
}

html, body {
  overflow-x: hidden;
  margin:0;
  padding:0;
  min-width: 1140px;
}

.container {
  margin-left: 82px;
  margin-right: 82px;
  margin-top: 33px;
}

.social {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;

  .telephone {
    position: relative;
    right: 40px;

    .fa-phone {
      transform: scaleX(-1);
      color: grey;
    }
  }

  .facebook {
    position: relative;
    right: 10px;

    .fa-facebook-square {
      color: $fb-color;
      transform: scale(1.5);
    }
  }

  a {
    text-decoration: none;
  }

  .phone {
    color: grey;
    position: relative;
    left: 5px;
    border-bottom: $border grey;
  }

  .fb {
    color: $fb-l-color;
    position: relative;
    left: 10px;
    border-bottom: $border $fb-l-color;
  }
}

.header {
  padding-top: 95px;
  padding-left: 95px;
  padding-right: 115px;
  font-weight: 800;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      z-index: 2;
      list-style: none;
      font-size: 18px;
      text-align: center;
      line-height: 3px;
      letter-spacing: 1px;
      a{
        text-decoration: none;
        color: white;

      }
    }
  }
}
.main-img {
  max-height: 175px;
  .img-header {
    width: 100%;
    position: relative;
    top: -540px;
  }

  .masque-header {
    width: 100%;
    z-index: 2;
    position: relative;
    top: -690px;
  }
}
.main-title {
  text-align: center;
  margin-top: 125px;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  display: block;

  h1 {
    font-size: 85px;
    position: relative;
    color: white;
    z-index: 3;
  }
  span {
    font-size: 20px;
    position: relative;
    top: -40px;
    z-index: 4;
    color: white;
  }
}

.desc {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 53%;

  h2 {
    position: relative;
    z-index: 5;
    font-size: 40px;
    text-align: center;
    line-height: 45px;

    b {
      color: $orange;
    }
  }

  .label-svg {
    width: 125px;
    height: 125px;
    transform: rotate(-15deg);
    position: absolute;
    top: -70px;
    left: -50px;
    z-index: 4;
  }
  p {
    text-align: center;
    line-height: 23px;
  }
}

.sales {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 53%;
  text-align: center;
  border: 5px solid #e0e0e0;
  position: relative;
  z-index: 3;

  .first-sale {
    line-height: 5px;
  }
  .second-sale {
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 5px;
  }
  h3 {
    font-size: 25px;
    color: $blue-color;
  }
  hr {
    position: relative;
    top: 24px;
    width: 25%;
    border: $border #e0e0e0;
  }
  span {
    font-size: 14px;
  }
}

.activities-title {
  margin-right: auto;
  margin-left: auto;
  margin-top: -65px;
  text-align: center;
  width: 70%;
  h1 {
    position: relative;
    font-size: 175px;
    z-index: 2;
    color: $grey-color;
  }
}

.activities {
  display: flex;
  position: relative;
  padding-top: 65px;
  z-index: 3;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  transform: translateY(-34%);
  .squares {
    width: 400px;
    height: 400px;
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px;
    box-shadow: inset 0 0 0 1000px $squares-color;
    cursor: pointer;
    &:nth-child(1) {
      background: url("../images/canoe.jpg") no-repeat;
    }
    &:nth-child(2) {
      background: url("../images/via-ferrata.jpg");
    }
    &:nth-child(3) {
      background: url("../images/aquatic.jpg");

    }
    .title {
      margin-left: 50px;
      margin-right: 50px;
    }
    .content {
      padding: 147px 20px 57px;
      margin: 10px;
      border: 2px solid $blue-color;
      &:nth-child(3) {
        padding-top: 100px;
      }
      .title {
        transition: -webkit-transform .2s;
      }
      .text {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s, -webkit-transform .2s;
        font-size: 15px;
        padding-left: 23px;
        padding-right: 23px;
      }
      i {
        position: relative;
        top: -55px;
        transition: -webkit-transform .2s;
      }
    }
  }

  .squares:hover .text {
    visibility: visible;
    opacity: 1;
    transform: translateY(-5.75em);
  }
  .squares:hover .title {
    transform: translateY(-3.75em);
  }
  .squares:hover i {
    transform: translateY(15px);
  }

  .last-1, .last-2 {
    position: relative;
    width: 620px;
    height: 210px;
    margin-top: 35px;
    .content-large {
      padding-top: 32px;
      padding-right: 20px;
      padding-left: 20px;
      margin: 10px;
      border: 2px solid $blue-color;
      .title {
        transition: -webkit-transform .2s;
      }
      .text {
        font-size: 15px;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s, -webkit-transform .2s;
        padding-left: 23px;
        padding-right: 23px;
      }
      i {
        position: relative;
        top: -55px;
        transition: -webkit-transform .2s;
      }
      .top-svg {
        position: absolute;
        z-index: 3;
        width: 125px;
        height: 125px;
        transform: rotate(15deg);
        top: -15px;
        right: -15px;
        border-radius: 50%;
        box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, .2);
      }
    }
  }
  .last-1 {
    background: rgb(42, 170, 165) url("../images/week-end.jpg") no-repeat;
    &:hover .text {
      visibility: visible;
      opacity: 1;
      transform: translateY(-1.5em);
    }
  }
  .last-2 {
    background: rgb(42, 170, 165) url("../images/climbing.jpg") no-repeat;
    &:hover .text {
      visibility: visible;
      opacity: 1;
      transform: translateY(-1.5em);
    }
  }
  .last-1:hover .title {
    transform: translateY(-1em);
  }
  .last-1:hover i {
    transform: translateY(30px);
  }
  .last-2:hover .title {
    transform: translateY(-1em);
  }
  .last-2:hover i {
    transform: translateY(30px);
  }
}
.map {
  padding-bottom: 135px;
  .masque-top{
    width: 104%;
    height: 1180px;
    position: absolute;
    margin-top: -1192px;
    z-index: 1;
  }
  iframe {
    z-index: 1;
    margin-left: -8px;
    width: 101.1%;
    height: 1000px;
    margin-top: -100px;
  }
  .masque-bottom {
    position: relative;
    top: -95px;
  }
}

.guide {
  display: flex;
  padding-right: 429px;
  padding-left: 440px;
  padding-bottom: 115px;
  .image {
    padding-right: 40px;
    padding-top: 13px;
    img {
      transform: scale(1.05);
      border-radius: 50%;
    }
  }
  
  .text {
    span {
      position: relative;
      top: 1px;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 2px;
      color: $orange;
      border-bottom: $border $orange;
    }

    h2 {
      font-size: 35px;
    }
    p {
      line-height: 23px;
    }
    a {
      text-decoration: none;
      button {
        font-size: 17px;
        font-weight: bold;
        color: white;
        background-color: $orange;
        border: none;
        height: 48px;
        width: 210px;
        border-radius: 35px;
        cursor: pointer;
        transition-duration: 0.2s;
      }
      :hover {
        background-color: $orange-hover;
        transform: scale(1.1);
      }
      :active {
        background-color: $orange-active;
      }
    }
  }
}

.information {
  display: flex;
  height: 300px;

  .ancv {
    width: 809px;
    text-align: center;
    border-top: $border #eeeeee;

    img {
      transform: scale(0.7);
    }
    .text {
      position: relative;
      top: -50px;
      font-size: 20px;
      padding-right: 150px;
      padding-left: 137px;
    }
  }

  .message {
    padding-top: 75px;
    max-width: 1096px;
    background-color: #eeeeee;
    text-align: center;
    padding-right: 85px;
    padding-left: 85px;
    line-height: 23px;

    span {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1.5px solid #737373;
    }
    .text {
      line-height: 23px;
    }
  }
}

footer {
  background-color: #1e1e1e;
  color: #a7a7a7;
  text-align: center;
  height: 156px;
  .text {
    padding-top: 25px;
    font-weight: bold;
    line-height: 8px;
  }
  nav {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 19%;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      color: white;

      a {
        text-decoration: none;
        color: white;
        border-bottom: 2px solid #737373;
      }
    }
  }
}

