@import "variables";

* {
  font-family: "Source Sans Pro", sans-serif;
}

html, body {
  overflow-x: hidden;
  margin:0;
  padding:0;
  min-width: 1140px;
}

.container {
  margin-left: 82px;
  margin-right: 82px;
  margin-top: 33px;
}

.header__social {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;

  .header__social--telephone {
    position: relative;
    right: 40px;

    .fa-phone {
      transform: scaleX(-1);
      color: grey;
    }
  }

  .header__social--facebook {
    position: relative;
    right: 10px;

    .fa-facebook-square {
      color: $fb-color;
      transform: scale(1.5);
    }
  }

  a {
    text-decoration: none;
  }

  .header__social--telephone-link {
    color: grey;
    position: relative;
    left: 5px;
    box-shadow: inset 0 -1px 0 0 grey;
    transition: .2s;
    &:hover {
      box-shadow: inset 0 -22px 0 0 grey;
      color: white;
    }
  }

  .header__social--telephone-facebook {
    color: $fb-l-color;
    position: relative;
    left: 10px;
    box-shadow: inset 0 -1px 0 0 $fb-l-color;
    transition: .2s;
    &:hover {
      box-shadow: inset 0 -22px 0 0 $fb-l-color;
      color: white;
    }
  }
}

.header__navbar {
  padding-top: 95px;
  padding-left: 95px;
  padding-right: 115px;
  font-weight: 800;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      z-index: 2;
      list-style: none;
      font-size: 18px;
      text-align: center;
      line-height: 3px;
      letter-spacing: 1px;
      a{
        text-decoration: none;
        color: white;

      }
    }
  }
}

.title {
  text-align: center;
  margin-top: 125px;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  display: block;

  h1 {
    font-size: 85px;
    position: relative;
    color: white;
    z-index: 3;
  }
  span {
    font-size: 20px;
    position: relative;
    top: -40px;
    z-index: 4;
    color: white;
  }
}

.image__title {
  max-height: 175px;
  .image__title-image {
    width: 100%;
    position: relative;
    top: -540px;
  }

  .image__title-masque {
    width: 100%;
    z-index: 2;
    position: relative;
    top: -690px;
  }
}

.description {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 53%;

  h2 {
    position: relative;
    z-index: 5;
    font-size: 40px;
    text-align: center;
    line-height: 45px;

    b {
      color: $orange;
    }
  }

  .description--svg {
    width: 125px;
    height: 125px;
    transform: rotate(-15deg);
    position: absolute;
    top: -70px;
    left: -50px;
    z-index: 4;
  }
  p {
    text-align: center;
    line-height: 23px;
  }
}

.sales {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 53%;
  text-align: center;
  border: 5px solid $border-color;
  position: relative;
  z-index: 3;

  .sales--top {
    line-height: 5px;
  }
  .sales--bottom {
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 5px;
  }
  h3 {
    font-size: 25px;
    color: $blue-color;
  }
  hr {
    position: relative;
    top: 24px;
    width: 25%;
    border: $border $border-color;
  }
  span {
    font-size: 14px;
  }
}

.activities__title {
  margin-right: auto;
  margin-left: auto;
  margin-top: -65px;
  text-align: center;
  width: 70%;
  h1 {
    position: relative;
    font-size: 175px;
    z-index: 2;
    color: $grey-color;
  }
}

.activities__suggested {
  display: flex;
  position: relative;
  padding-top: 65px;
  z-index: 3;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  transform: translateY(-34%);
  .activities__suggested--squares {
    width: 400px;
    height: 400px;
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px;
    box-shadow: inset 0 0 0 1000px $squares-color;
    cursor: pointer;
    &:nth-child(1) {
      background: url("../images/canoe.jpg") no-repeat;
    }
    &:nth-child(2) {
      background: url("../images/via-ferrata.jpg");
    }
    &:nth-child(3) {
      background: url("../images/aquatic.jpg");

    }

    .activities__suggested--squares-content {
      padding: 147px 20px 57px;
      margin: 10px;
      border: 2px solid $blue-color;
      h3 {
        margin-left: 50px;
        margin-right: 50px;
        transition: -webkit-transform .2s;
      }
      &:nth-child(3) {
        padding-top: 100px;
      }

      p {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s, -webkit-transform .2s;
        font-size: 15px;
        padding-left: 23px;
        padding-right: 23px;
      }
      i {
        position: relative;
        top: -55px;
        transition: -webkit-transform .2s;
      }
    }
    &:hover p {
      visibility: visible;
      opacity: 1;
      transform: translateY(-5.75em);
    }
    &:hover h3 {
      transform: translateY(-3.75em);
    }
    &:hover i {
      transform: translateY(15px);
    }
  }



  .activities__suggested--rectangle-1, .activities__suggested--rectangle-2 {
    position: relative;
    width: 620px;
    height: 210px;
    margin-top: 35px;
    .activities__suggested--rectangle-content {
      padding-top: 32px;
      padding-right: 20px;
      padding-left: 20px;
      margin: 10px;
      border: 2px solid $blue-color;
      h3 {
        transition: -webkit-transform .2s;
      }
      p {
        font-size: 15px;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s, -webkit-transform .2s;
        padding-left: 23px;
        padding-right: 23px;
      }
      i {
        position: relative;
        top: -55px;
        transition: -webkit-transform .2s;
      }
      .activities__suggested--rectangle-content-svg {
        position: absolute;
        z-index: 3;
        width: 125px;
        height: 125px;
        transform: rotate(15deg);
        top: -15px;
        right: -15px;
        border-radius: 50%;
        box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, .2);
      }
    }
  }
  .activities__suggested--rectangle-1 {
    background: rgb(42, 170, 165) url("../images/week-end.jpg") no-repeat;
    &:hover p {
      visibility: visible;
      opacity: 1;
      transform: translateY(-1.5em);
    }
    &:hover h3 {
      transform: translateY(-1em);
    }
    &:hover i {
      transform: translateY(30px);
    }
  }
  .activities__suggested--rectangle-2 {
    background: rgb(42, 170, 165) url("../images/climbing.jpg") no-repeat;
    &:hover p {
      visibility: visible;
      opacity: 1;
      transform: translateY(-1.5em);
    }
    &:hover h3 {
      transform: translateY(-1em);
    }
    &:hover i {
      transform: translateY(30px);
    }
  }
}
.map {
  padding-bottom: 135px;
  .map--masque-top{
    width: 104%;
    height: 1180px;
    position: absolute;
    margin-top: -1192px;
    z-index: 1;
  }
  iframe {
    z-index: 1;
    margin-left: -8px;
    width: 101.1%;
    height: 1000px;
    margin-top: -100px;
  }
  .map--masque-bottom {
    position: relative;
    top: -95px;
  }
}

.guide {
  display: flex;
  padding-right: 429px;
  padding-left: 440px;
  padding-bottom: 115px;
  .guide--image {
    padding-right: 40px;
    padding-top: 13px;
    img {
      transform: scale(1.05);
      border-radius: 50%;
    }
  }
  
  .guide--content {
    span {
      position: relative;
      top: 1px;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 2px;
      color: $orange;
      border-bottom: $border $orange;
    }

    h2 {
      font-size: 35px;
    }
    p {
      line-height: 23px;
    }
    a {
      text-decoration: none;
      button {
        font-size: 17px;
        font-weight: bold;
        color: white;
        background-color: $orange;
        border: none;
        height: 48px;
        width: 210px;
        border-radius: 35px;
        cursor: pointer;
        transition-duration: 0.2s;
      }
      :hover {
        background-color: $orange-hover;
        transform: scale(1.1);
      }
      :active {
        background-color: $orange-active;
      }
    }
  }
}

.information {
  display: flex;
  height: 300px;

  .ancv {
    width: 809px;
    text-align: center;
    border-top: $border $message-bg;

    img {
      transform: scale(0.7);
    }
    .text {
      position: relative;
      top: -50px;
      font-size: 20px;
      padding-right: 150px;
      padding-left: 137px;
    }
  }

  .message {
    padding-top: 75px;
    max-width: 1096px;
    background-color: $message-bg;
    text-align: center;
    padding-right: 85px;
    padding-left: 85px;
    line-height: 23px;

    span {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1.5px solid $grey-footer;
    }
    .text {
      line-height: 23px;
    }
  }
}

footer {
  background-color: $footer-bg;
  color: $text-footer;
  text-align: center;
  height: 156px;
  .text {
    padding-top: 25px;
    font-weight: bold;
    line-height: 8px;
  }
  nav {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 19%;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      color: white;

      a {
        text-decoration: none;
        color: white;
        box-shadow: inset 0 -2px 0 0 $grey-footer;
        transition: .2s;
        &:hover {
          box-shadow: inset 0 -22px 0 0 $grey-footer;
        }
      }
    }
  }
}

