@import "variables";

* {
  font-family: "Source Sans Pro", sans-serif;
}

html, body {
  overflow-x: hidden;
  margin:0;
  padding:0;
  min-width: 1140px;
}

.container {
  margin-left: 82px;
  margin-right: 82px;
  margin-top: 33px;
}

.social {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;

  .telephone {
    position: relative;
    right: 40px;

    .fa-phone {
      transform: scaleX(-1);
      color: grey;
    }
  }

  .facebook {
    position: relative;
    right: 10px;

    .fa-facebook-square {
      color: $fb-color;
      transform: scale(1.5);
    }
  }

  a {
    text-decoration: none;
  }

  .phone {
    color: grey;
    position: relative;
    left: 5px;
    border-bottom: $border grey;
  }

  .fb {
    color: $fb-l-color;
    position: relative;
    left: 10px;
    border-bottom: $border $fb-l-color;
  }
}

.header {
  padding-top: 95px;
  padding-left: 95px;
  padding-right: 115px;
  font-weight: 800;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      z-index: 2;
      list-style: none;
      font-size: 18px;
      text-align: center;
      line-height: 3px;
      letter-spacing: 1px;
      a{
        text-decoration: none;
        color: white;

      }
    }
  }
}
.main-img {
  max-height: 175px;
  .img-header {
    width: 100%;
    position: relative;
    top: -540px;
  }

  .masque-header {
    width: 100%;
    z-index: 2;
    position: relative;
    top: -690px;
  }
}
.main-title {
  text-align: center;
  margin-top: 125px;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  display: block;

  h1 {
    font-size: 85px;
    position: relative;
    color: white;
    z-index: 3;
  }
  span {
    font-size: 20px;
    position: relative;
    top: -40px;
    z-index: 4;
    color: white;
  }
}

.desc {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 53%;

  h2 {
    position: relative;
    z-index: 5;
    font-size: 40px;
    text-align: center;
    line-height: 45px;

    b {
      color: $orange;
    }
  }

  .label-svg {
    width: 125px;
    height: 125px;
    transform: rotate(-15deg);
    position: absolute;
    top: -70px;
    left: -50px;
    z-index: 4;
  }
  p {
    font-weight: 600;
    text-align: center;
    color: $p-color;
  }
}

.sales {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 53%;
  text-align: center;
  border: 5px solid #e0e0e0;

  .first-sale {
    line-height: 5px;
  }
  .second-sale {
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 5px;
  }
  h3 {
    font-size: 25px;
    color: $blue-color;
  }
  hr {
    position: relative;
    top: 24px;
    width: 25%;
    border: $border #e0e0e0;
  }
  span {
    font-size: 14px;
  }
}

.activities-title {
  margin-right: auto;
  margin-left: auto;
  margin-top: -65px;
  text-align: center;
  width: 70%;
  h1 {
    position: relative;
    font-size: 175px;
    z-index: 0;
    color: $grey-color;
  }
}

.activities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  top: 50%;
  transform: translateY(-34%);
  .squares {
    width: 350px;
    height: 350px;
    text-align: center;
    position: relative;
    color: white;
    background: rgb(42, 170, 165) url("../images/canoe.jpg");

    .text {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s, visibility .2s;
    }
  }

  .squares:hover .text{
    visibility: visible;
    opacity: 1;
  }
  .last-1, .last-2 {
    display: inline-flex;
    width: 500px;
    height: 175px;
    img {
      width: 500px;
      height: 175px;
      margin-top: 40px;
    }
  }
  }




.map {
  margin-top: -915px;
  padding-bottom: 200px;
  img{
    z-index: 2;
  }
  iframe {
    z-index: 1;
    margin-left: -8px;
    margin-top: -100px;
    width: 101.1%;
    height: 700px;
  }
}

.guide {
  display: flex;
  padding-right: 429px;
  padding-left: 440px;
  padding-bottom: 115px;
  .image {
    padding-right: 40px;
    padding-top: 13px;
    img {
      transform: scale(1.05);
      border-radius: 50%;
    }
  }
  
  .text {
    span {
      position: relative;
      top: 1px;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 2px;
      color: $orange;
      border-bottom: $border $orange;
    }

    h2 {
      font-size: 35px;
    }
    a {
      text-decoration: none;
      button {
        font-size: 17px;
        font-weight: bold;
        color: white;
        background-color: $orange;
        border: none;
        height: 48px;
        width: 210px;
        border-radius: 35px;
        cursor: pointer;
        transition-duration: 0.2s;
      }
      :hover {
        background-color: $orange-hover;
        transform: scale(1.1);
      }
      :active {
        background-color: $orange-active;
      }
    }

  }
}

.information {
  display: flex;
  height: 300px;

  .ancv {
    width: 809px;
    text-align: center;
    border-top: $border #eeeeee;

    img {
      transform: scale(0.7);
    }
    .text {
      position: relative;
      top: -50px;
      font-size: 20px;
      padding-right: 150px;
      padding-left: 137px;
    }
  }

  .message {
    padding-top: 75px;
    max-width: 1096px;
    background-color: #eeeeee;
    text-align: center;
    padding-right: 85px;
    padding-left: 85px;
    line-height: 23px;

    span {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1.5px solid #737373;

    }
  }
}

footer {
  background-color: #1e1e1e;
  color: #a7a7a7;
  text-align: center;
  height: 156px;
  .text {
    padding-top: 25px;
    font-weight: bold;
    line-height: 8px;
  }
  nav {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 19%;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      color: white;

      a {
        text-decoration: none;
        color: white;
        border-bottom: 2px solid #737373;

      }
    }
  }
}

