@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

body {
  overflow-x: hidden; }

.container {
  margin-left: 82px;
  margin-right: 82px;
  margin-top: 33px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 800; }
  .social .telephone {
    position: relative;
    right: 40px; }
    .social .telephone .fa-phone {
      -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
      color: grey; }
  .social .facebook {
    position: relative;
    right: 10px; }
    .social .facebook .fa-facebook-square {
      color: #3b5998;
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }
  .social a {
    text-decoration: none; }
  .social .phone {
    color: grey;
    position: relative;
    left: 5px;
    border-bottom: 1px solid grey; }
  .social .fb {
    color: #4c7ccc;
    position: relative;
    left: 10px;
    border-bottom: 1px solid #4c7ccc; }

.header {
  padding-top: 95px;
  padding-left: 95px;
  padding-right: 115px;
  font-weight: 800; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .header ul li {
      z-index: 2;
      list-style: none;
      font-size: 18px;
      text-align: center;
      line-height: 3px;
      color: white;
      letter-spacing: 1px; }

.main-img {
  max-height: 175px; }
  .main-img .img-header {
    width: 100%;
    position: relative;
    top: -540px; }
  .main-img .masque-header {
    width: 100%;
    z-index: 2;
    position: relative;
    top: -690px; }

.main-title {
  text-align: center;
  margin-top: 125px;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  display: block; }
  .main-title h1 {
    font-size: 85px;
    position: relative;
    color: white;
    z-index: 3; }
  .main-title span {
    font-size: 20px;
    position: relative;
    top: -40px;
    z-index: 4;
    color: white; }

.desc {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 53%; }
  .desc h2 {
    position: relative;
    z-index: 5;
    font-size: 40px;
    text-align: center;
    line-height: 45px; }
    .desc h2 b {
      color: #d48734; }
  .desc .label-svg {
    width: 125px;
    height: 125px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    position: absolute;
    top: -70px;
    left: -50px;
    z-index: 4; }
  .desc p {
    font-weight: 600;
    text-align: center;
    color: #515e6e; }

.sales {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 53%;
  text-align: center;
  border: 5px solid #e0e0e0; }
  .sales .first-sale {
    line-height: 5px; }
  .sales .second-sale {
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 5px; }
  .sales h3 {
    font-size: 25px;
    color: #2aaaa5; }
  .sales hr {
    position: relative;
    top: 24px;
    width: 25%;
    border: 1px solid #e0e0e0; }
  .sales span {
    font-size: 14px; }

.activities-title {
  margin-right: auto;
  margin-left: auto;
  margin-top: -65px;
  text-align: center;
  width: 70%; }
  .activities-title h1 {
    position: relative;
    font-size: 175px;
    z-index: 0;
    color: #dadada; }

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  top: 50%;
  -webkit-transform: translateY(-34%);
          transform: translateY(-34%); }
  .activities .squares {
    width: 350px;
    height: 350px;
    background-color: #2aaaa5;
    text-align: center;
    position: relative;
    z-index: 2;
    color: white; }
    .activities .squares .text {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.2s, visibility .2s;
      transition: opacity 0.2s, visibility .2s; }
    .activities .squares img {
      position: relative;
      top: -157px;
      z-index: 1;
      width: 350px;
      height: 350px;
      opacity: 0.2; }
  .activities .squares:hover .text {
    visibility: visible;
    opacity: 1; }
  .activities .last-1 {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    height: 175px; }
  .activities .last-2 {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    height: 175px; }

.map {
  margin-top: -915px; }
  .map img {
    z-index: 2; }
  .map iframe {
    z-index: 1;
    margin-left: -8px;
    margin-top: -100px;
    width: 101.1%;
    height: 700px; }
